<section class="pb-4">
  <div class="bg-white border rounded-5">
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
            <form>
              <div style="display: flex; justify-content: center; align-items: center;" *ngIf="showErrorMessage" class="btn btn-danger">Authentication Failed</div>
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="form-label">Username</label>
                  <input type="text" class="form-control mb-2" name="username" [(ngModel)]="username" autoComplete="off" placeholder="Enter Username">
                </div>
                <div class="col-auto">
                  <label class="form-label">Password</label>
                  <div class="input-group mb-2">
                    <input type="password" name="password" [(ngModel)]="password" placeholder="Enter Password" autoComplete="off" class="form-control"/>
                  </div>
                </div>
                <div style="display: flex; justify-content: center; align-items: center;">
                  <button type="button" name="login" (click)="handleSubmit()" class="btn btn-primary mb-2">Submit</button>
                </div>
              </div>
            </form>
    </section>
  </div>
</section>
